* {
  margin: 0;
  padding: 0;
}

/* ----------Section---------- */

.section {
  height: 700px;
  width: 100%;
  background-color: #060f14;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.intro-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.intro-heading-style {
  font-size: 3rem;
  font-weight: 600;
  margin-right: 1rem;
  color: #008b36;
}

.intro-heading h1 {
  color: white;
}

.intro-para {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: rgb(238, 237, 237);
  padding: 1rem 8rem;
}

.heading-chatbot {
  color: white;
  margin-bottom: 0.7rem;
}

/* -------------------Display chatbot---------------- */

.display-section-chat {
  width: 80%;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.display-section-chat-container {
  display: flex;
  flex-direction: column;
}

.display-section-chat-user {
  align-items: flex-end;
}

.display-section-chat-user p {
  background-image: linear-gradient(to right, #7cdf8e, #4bb767c5);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.display-section-chat-bot {
  align-items: flex-start;
}

.display-section-chat-bot p {
  background-image: linear-gradient(to right, #d4d6d5, #afafafc5, #d4d6d5);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* -----------------------Prompt chatbot-------------------- */

.prompt-form-section {
  width: 90%;
  margin-top: 0.5rem;
}

.prompt-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt-form input {
  width: 83%;
  padding: 0.7rem;
  border: 0px;
  outline: none;
  border-radius: 2rem;
}

.prompt-form button {
  padding: 0.7rem;
  border-radius: 2rem;
  border: 0px;
  margin-left: 0.6rem;
  color: white;
  cursor: pointer;
  background-image: linear-gradient(to right, #7cdf8e, #4bb767c5);
}

/* ------------Footer------------- */

.footer {
  background-image: linear-gradient(to bottom, #008b36, #12005f);
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 4rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  margin-bottom: 2rem;
  width: 100%;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 150px;
  margin: 1rem;
}

.footer-links-container a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-links-container h4 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
  color: rgb(223, 222, 222);
}

.footer-links-container p {
  font-size: 12px;
  line-height: 15px;
  margin: 0.5rem 0;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(218, 218, 218);
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.footer-bottom-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-links a {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 600;
}

hr {
  color: rgb(91, 79, 255) !important;
  width: 100%;
}

.footer-bottom-copyright p {
  font-size: 13px;
  line-height: 15px;
  color: white;
  font-weight: 600;
}
