@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Montserrat", sans-serif;

  --black: #000000;
  --red: #e50914;
  --white: #ffffff;

  --red-100: #eb3942;
  --red-200: #c11119;
  --red-300: #f50723;
  --blue-100: #0071eb;
  --blue-200: #448ef4;
  --blue-300: #54b9c5;
  --green: #46d369;

  --grey-10: #e5e5e5;
  --grey-20: #dcdcdc;
  --grey-25: #d2d2d2;
  --grey-50: #bcbcbc;
  --grey-100: #b3b3b3;
  --grey-150: #979797;
  --grey-200: #808080;
  --grey-250: #777777;
  --grey-300t40: rgb(109, 109, 110, 40%);
  --grey-30T70: rgb(109, 109, 110, 70%);
  --grey-350: #545454;
  --grey-400: #414141;
  --grey-450: #404040;
  --grey-500: #3a3a3a;
  --grey-550: #363636;
  --grey-600t60: rgb(51, 51, 51, 60%);
  --grey-600: #333333;
  --grey-650: #2f2f2f;
  --grey-700: #2a2a2a;
  --grey-750: #262626;
  --grey-800: #232323;
  --grey-850: #181818;
  --grey-900: #141414;

  --t-white-15: rgb(255, 255, 255, 15%);
  --t-white-20: rgb(255, 255, 255, 20%);
  --t-white-30: rgb(255, 255, 255, 30%);
  --t-white-35: rgb(255, 255, 255, 35%);
  --t-white-50: rgb(255, 255, 255, 50%);
  --t-white-70: rgb(255, 255, 255, 70%);

  --t-black-30: rgb(0, 0, 0, 30%);
  --t-black-60: rgb(0, 0, 0, 60%);
  --t-black-90: rgb(0, 0, 0, 90%);

  --xxl: 40px;
  --xl: 35px;
  --l: 30px;
  --m: 25px;
  --s: 20px;
  --xs: 17px;
  --xxs: 14px;
}

/* ----------------------global-styles---------------- */

body {
  background-color: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
}

.red-btn {
  background-color: var(--red);
  color: var(--white);
  cursor: pointer;
}

.red-btn:hover {
  background-color: var(--red-200);
}

.hr-line {
  padding: 0.1rem;
  display: flex;
  background-color: var(--grey-500);
}

.bg-img-common {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  background-position: center;
  background-size: cover;
}

.none {
  display: none;
}

select {
  padding: 0.4rem 1.4rem;
  margin: 0 1.5vw;
  border: 1px solid var(--t-white-15);
  border-radius: 0.2rem;
  background-color: var(--t-black-60);
  color: var(--white);
}

/* --------------------header------------------------ */

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-links {
  padding: 1.5rem 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo a {
  font-size: var(--l);
  font-weight: 700;
  color: var(--white);
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar a {
  padding: 0.4rem 1rem;
  font-size: var(--xxs);
  border: 0px;
  border-radius: 0.2rem;
}

/* -----------landing-page-bg-img----------- */

.bg-img-main {
  background-image: radial-gradient(var(--t-black-60), var(--t-black-90)),
    url("./assets/landing_page/main_bg_img.png");
}

.connect-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 55vw;
}

.connect-container h1 {
  margin-bottom: 0.7rem;
  font-size: var(--xxl);
  color: var(--white);
}

.connect-container p {
  margin-bottom: 2rem;
  font-size: var(--s);
  color: var(--white);
}

/* -------------------------send-email-box----------------- */

.email-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 36vw;
}

.email-container input {
  padding: 0.8rem;
  margin-right: 0.5rem;
  width: 60%;
  border: 1px solid var(--t-white-35);
  border-radius: 0.2rem;
  background-color: var(--t-black-60);
  color: var(--white);
}

.email-container button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.6rem 1rem;
  font-size: var(--xs);
  border: 0px;
  border-radius: 0.2rem;
}

/* --------------------ads-banner------------------- */

.ads-container {
  display: flex;
  justify-content: center;
  padding: 0vw 10vw;
}

.ads-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 44),
    rgb(57, 0, 150),
    rgb(175, 0, 29),
    rgb(57, 0, 150),
    rgb(0, 0, 44)
  );
}

.ads-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 2rem;
}

.ads-description h4,
.ads-description p,
.ads-description a {
  margin-top: 0.5rem;
}

.ads-description a {
  color: var(--blue-100);
  text-decoration: underline;
}

/* -------------------------Img-Content-Box---------------- */

.tv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.tv-container-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 3rem 0rem;
}

.tv-container-box img {
  width: 50%;
}

.tv-container-content {
  color: white;
  width: 50%;
}

.tv-container-content h1 {
  font-size: var(--xl);
  margin-bottom: 1rem;
}

.tv-container-content h3 {
  font-size: var(--s);
}

/* -------------------------faq-------------------- */

.faq-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 7vw;
}

.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.faq-container h1 {
  margin-bottom: 2rem;
}

.faq-container .email-container {
  margin-top: 2rem;
}

/* -------------------------Wrapping-box---------------- */

.wrap-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 1rem 1rem;
  margin: 0.2rem 0;
  cursor: pointer;
  border-radius: 0.2rem;
  background-color: var(--grey-600t60);
}

.plus svg {
  transform: rotate(45deg);
  transition: 0.4s ease-in-out;
}

.multiply svg {
  transition: 0.4s ease-in-out;
}

.ans-container {
  width: 90%;
  padding: 1rem 1rem;
  margin-top: 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--grey-600t60);
}

/* ---------------------signin-page--------------------- */

.bg-img-signin {
  background-image: radial-gradient(var(--t-black-30), var(--t-black-90)),
    url("./assets/auth_page/auth_bg.png");
}

/* -------------------------footer---------------------- */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.footer .section {
  flex: 1 1 200px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links h4 {
  font-size: var(--xxs);
  color: var(--t-white-70);
}

.links h4 > a {
  color: var(--t-white-70);
  text-decoration: underline;
}

.footer-list li {
  margin-top: 10px;
}

.footer-list a {
  font-size: var(--xxs);
  text-decoration: underline;
  color: var(--t-white-70);
}

.footer-list a:hover {
  font-size: var(--xs);
}

.social-icons svg {
  font-size: 30px;
  padding: 0.5rem;
}

.footer small {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 0.8em;
  color: #666;
}
